<launch>
  <rosparam command="load" file="$(find direct_stereo_slam)/cams/pinax3/T_stereo.yaml" ns="direct_stereo_slam"/>

  <node name="direct_stereo_slam" pkg="direct_stereo_slam" type="slam_node" output="screen">
    <param name="mode" value="0" />
    <param name="nomt" value="true" />
    <param name="scale_opt_thres" value="15.0" />
    <param name="lidar_range" value="60.0" />
    <param name="scan_context_thres" value="0.33" />
    <param name="bag" value="/data/gpstime1_filt_cali2.bag" />
    <param name="topic0" value="/camera/right/image_raw" />
    <param name="topic1" value="/camera/left/image_raw" />
    <param name="calib0" value="$(find direct_stereo_slam)/cams/pinax3/camera0.txt" />
    <param name="calib1" value="$(find direct_stereo_slam)/cams/pinax3/camera1.txt" />

    <!-- 
    <param name="nomt" value="false" />
    <param name="scale_opt_thres" value="15.0" />
    <param name="lidar_range" value="40.0" />
    <param name="scan_context_thres" value="0.33" />
    -->
  </node>
</launch>
